.signupCompContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    margin-right: 15%;
    gap: 10px;
    
    
}
.form-validation{
    color:red;
    font-size: .75rem;
}
.signup-img{
    width: 33rem;
    border-radius: 25px;
    margin-left: 10rem;

}
