tr{
    background-color: rgba(255, 255, 255, 0.8);

    padding: 20px;
    font-size: 30px;
    text-align: center;
}

th{
    font-size: small;
    background: lightgrey;
    border-bottom: 2px solid black;
}
td{
    font-size: small;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
tbody{
    gap: 5px;
}

.table-container{
    display: flex;
    justify-content: center;
    margin-top:10px;
}
.profile-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.delete-meal:hover{
    cursor: pointer;
}
.trash{
    border: none
}
.logout-btn:hover{
    cursor: pointer;
}