.logout-btn{
    position: relative;

    cursor: pointer;
}

tbody{
    color: red;
    display: grid;
    grid-template-columns: repeat(4,100px);
}
.profile-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;   
}
.delete-meal{
    cursor: pointer;
}
.profile-img{
    width: 33rem;
    border-radius: 25px;
    margin-left: 10rem;
}
table{
    display: flex;
    justify-content: center;
}
.table-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
