.add-meal-form{
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    top:10rem;
}
#signup-submit{
  background-color: #ffc529;
  border: none;
  border-radius: 25px;
  margin-bottom: 20px;
}
.dayOfMeal{
justify-content: center;
margin: 0 auto;
margin-bottom: 10px;
}